.aboutBkg{
    background-color: #de8185;
}

.aboutBox{
    padding: 30px 10%;
    columns: 2;
}

.aboutInfo{
    padding: 40px 70px 0px 0px;
}

.aboutInfo h1{
    padding-top: 80px;
    padding-bottom: 50px;
    color: #3e3d3d;
}

.aboutInfo p{
    color: #565656;
}

.aboutPhoto{
    columns: 2;
}

.aboutImg{
    width: 330px;
    margin: 10px;
    margin-left: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.imgH{
    width: 350px;
    margin-left: 60px;
}
@media screen and (max-width: 1300px){
    .aboutBox{
        padding: 30px 10%;
        columns: 1;
    }
    .aboutInfo{
        padding: 30px;
        width: 100%;
        text-align: center;
    }
    .aboutPhoto{
        columns: 1;
    }
    .aboutImg{
        width: 100%;
    }
    .imgH{
    margin-left: 0px;
    }
}
@media screen and (max-width: 1500px){
    .aboutBox{
        padding: 17px 14%;
    }
    .aboutPhoto{
        margin-left: -70px;
    }
}
